<IfModule mod_rewrite.c> 
#Модуль mod_rewrite предназначен для использования правил перенаправления запросов к Apache по условиям.Rewrite_module это идентификатор и mod_rewrite.c имя файла модуля 
   RewriteEngine On  
   #Включает/выключает механизм mod_rewrite.
   RewriteCond %{REQUEST_FILENAME} !-f 
   # Директива RewriteCond определяет условия для какого-либо правила
   RewriteCond %{REQUEST_FILENAME} !-d 
   # Если запрос не является файлом (!-f) или директорией (!-d), то любое количество любого символа (.) редиректить по адресу на 404
   RewriteRule . /404.html [L] 
   #Преобразовывает строку в соответствии с регулярными выражениями.Last — остановить процесс преобразования на этом месте и не применять больше никаких правил преобразований. 
</IfModule>

<IfModule mod_headers.c> 
#Модуль предоставляет директивы для управления и изменения заголовков HTTP-запросов и ответов. Заголовки можно объединять, заменять или удалять.
   Header add Test "test"
</IfModule>

<FilesMatch ".(png)$"> 
#<FilesMatch>Директива ограничивает область вложенных директив файла, так же , как <Files>директива делает. Однако он принимает регулярное выражение .
  Header add Cache-Control "max-age=2592000"
  # Добовляем заголовок, директива Cache-Control определяет, кто кэширует ответ, при каких условиях и на какой срок, директива max-age устанавливает максимальное количество времени в секундах, (остается в кеше браузера) в течение следующего времени 
</FilesMatch>

<IfModule mod_expires.c> 
#Mod_expires — модуль, который подсказывает вашему браузеру, какие статические файлы нужно кэшировать. Время хранения данных в кэше можно устанавливать в следующих значениях:
#( years,months, weeks, days,hours,minutes,seconds.)
ExpiresActive On 
ExpiresByType text/html "access 5 day" 
#кэшировать html и htm файлы
</IfModule>